.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.product-card {
    text-decoration: none;
    color: inherit;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.product-image {
    width: 100%;
    height: auto;
}

.product-title {
    font-size: 20px;
    font-weight: bold;
}

.product-price {
    margin: 0;
}